@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.recuperados {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 100px;
    align-items: center;
    background-color: rgb(0, 87, 39);
    border-radius: 0 50px 50px 0;
    
}
.dados_recuperados {
    margin-right: 8px;
    color: rgb(0, 87, 39); 
    font-size: 24px;
    width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_recuperados {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 8px;
    font-family: "kanit" , serif;
    letter-spacing: 1px;
}