@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.internados{
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 100px;
    align-items: center;
    background-color: rgb(255, 174, 0);
    border-radius: 0  50px 50px 0 ;
}
.dados_internados{
    margin-right: 8px;
    color: rgb(255, 174, 0);
    font-size: 24px;
    width: 90px;
    height: 90px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_internados {
    color: white;
    font-size: 30px;
    margin-left: 8px;
    font-family: "kanit" , serif;
    letter-spacing: 1px;

}